<!DOCTYPE html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='{{CreateURL "/static/index.css"}}'>
    <title>{{.Title}}</title>
</head>

<body>
<div class="m-4">
    <h1 class="h1">Something is wrong</h1>

    <div><strong>Problem</strong> {{.Message}}</div>
    <div class="small"><strong>Reference code</strong> {{.Code}}</div>
    <a class="small" href='{{CreateRootURL}}'> return to homepage.</a>
</div>
</body>