{{define "html-head"}}
    <!DOCTYPE html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='{{CreateURL "/static/index.css"}}'>
        <title>{{.Title}}</title>
        <script src='{{CreateURL "/static/Browse.js"}}' type='module'></script>
    </head>
{{end}}