@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "~bootswatch/dist/darkly/variables";

.fullscreen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
}

@include media-breakpoint-up(lg) {
    .grid-container {
        grid-template-columns: auto auto;
    }
}

@include media-breakpoint-up(xxl) {
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}

#carouselControl {
    height: 90vh;
    max-height: 100%;
}

.dropdown-item-checked::before {
    position: absolute;
    left: 0.4rem;
    content: "✓ ";
    font-weight: 600;
}

.bg-pink {
    background-color: $pink !important;
}

.bg-yellow {
    background-color: $yellow !important;
}

.border-pink {
    border-color: $pink !important;
}

.border-yellow {
    border-color: $yellow !important;
}

.btn-pink {
    @include button-variant($pink, $pink);
}

.thumb-link {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}

.thumb-img {
    height:200px;
    object-fit: cover;
}