@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.fullscreen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.file-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 4px;
    background: black;
    padding: 4px;
    border-style: solid;
    border-color: gray;
    border-radius: 2px;
    border-width: 1px;
}

@include media-breakpoint-up(sm) {
    .file-border {
        flex-direction: row;
    }
}

.file-thumb-name {
    display: block;
    overflow: hidden;
    z-index: 1;
}

.thumb-border {
    width: 200px;
    height: 200px;
    margin: 4px;
    display: flex;
}

.file-thumb {
    display: inline-flex;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}

.file-details {
    display: flex;
    flex-direction: column;
}

.thumb-banner {
    position: relative;
    width: 100px;
    color: #343a40;
    bottom: 80px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
}

@include media-breakpoint-up(lg) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@include media-breakpoint-up(xxl) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

.favorite-banner {
    background-color: pink;
}

.new-banner {
    background-color: yellow;
}

#carouselControl {
    height: 90vh;
    max-height: 100%;
}

.dropdown-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓ ';
    font-weight: 600;
}